body {
    width: 100%;
    /*max-width: 1200px;*/
    margin: 0 auto;
}

.header {
    background: url("../img/section1(header).jpg") no-repeat center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.header__nav {
    width: 100%;
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
}

.container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    text-align: center;
}

.header__section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__logo {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
}

.header__logo__img {
    position: absolute;
    top: 25px;
}

.header__logo__letter {
    display: inline-block;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
    position: absolute;
    top: 45px;
    left: 13px;
}

.header__logo__text {
    display: inline-block;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    margin: 38px 0 0 67px;
    text-align: center;
}

.header__logo__text span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #18CFAB;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-transform: uppercase;
    list-style: none;
    padding-bottom: 10px;
}

.header__menu a {
    color: rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(94, 93, 88, 0.6);
    padding-bottom: 45px;
    margin-left: 21px;
}

.header__menu a:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
}

.header__menu li:nth-child(8) {
    width: 25px;
    height: 23px;
    margin-left: 21px;
}

.header__menu svg:hover {
    fill: #18CFAB;
}

.header__content__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 264px 0 22px 0;
}

.header__content__title span {
    color: #18CFAB;
}

.header__content__slogan {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 78px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 22px;
}

.header__content__title2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 34px;
    text-align: center;
    margin-bottom: 134px;
    color: #D4D4D4;
}

.header__btn {
    display: flex;
    justify-content: center;
    padding-bottom: 243px;
}

.button {
    padding: 16px 18px 16px 17px;
    background: #18CFAB;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    color: #FFFFFF;
    margin-right: 26px;
    box-shadow: 0 -5px 0px 0px rgba(225, 225, 225, 1);
}

.button:nth-child(2) {
    background: #00CBF6
}

.button:nth-child(3) {
    margin: 0 auto;
}

.main__squares {
    display: flex;
    background: #18CFAB;
    margin-top: 8px;
    list-style: none;
}

.main__squares li:nth-child(odd) {
    background-color: #1C2A33;
}

.main__squares li {
    width: 25%;
}

.main__squares__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 110px;
}

 .green{
    color: #18CFAB;
}

.icon1 {
    display: block;
    margin: 0 auto;
    padding: 95px 0 47px 0;
}

.icon2 {
    display: block;
    margin: 0 auto;
    padding: 105px 0 58px 0;
}

.main__head-text {
    display: inline-block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
    position: relative;
    margin-top: 83px;
}

.main__head-text::after {
    content: '';
    display: block;
    border-bottom: 1px solid #18CFAB;
    width: 75px;
    margin: 25px auto;
}

.main__head-text::before {
    content: '';
    display: block;
    border-bottom: 1px solid #18CFAB;
    width: 78px;
    position: absolute;
    top: 67px;
    left: 42%;
}

.main__menu-service {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    text-align: center;
    color: #717171;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    height: 72px;
}

.main__menu-service li {
    border: 1px solid #EDEFEF;
    height: 100%;
    width: 100%;
    padding-top: 15px;
    position: relative;
}

.main__menu-service li:hover {
    border: 1.5px solid #18CFAB;
}

.tabs-title.active {
    background-color: #18CFAB;
    color: #EDEFEF;
}

.tabs-title:after {
    content: url("../img/Rectangle60.png");
    position: absolute;
    top: 55px;
    left: 80px;
    display: none;
}

.tabs-title.active:after {
    display: block;
}

.main__section__content-service {
    margin: 28px 0 95px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    list-style: none;
}

.main__content-service {
    display: none;
    align-items: center;
    box-sizing: border-box;
}

.main__content-service.active {
    display: flex;
}

.main__photo-service {
    display: inline-block;
    width: 192px;
    height: 139px;
}

.main__text-service {
    display: inline-block;
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    margin-left: 15px;
    color: #777777;
}

.main__just-buy {
    background: url("../img/Layer211.png"), no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 127px;
}

.wrap__just-buy__content {
    display: flex;
    flex-direction: column;
}

.main__just-buy__slogan {
    display: inline-block;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
    margin: 126px 0 13px 0;
}

.main__just-buy__text {
    display: inline-block;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #D8D8D8;
    margin-bottom: 62px;
}

.main__our-work {
    background-color: #E9EDEF;
    padding-bottom: 99px;
}

.main__our-work__menu {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
    width: 582px;
    cursor: pointer;
}

.main__our-work__menu .active {
    border: 1px solid #18CFAB;
    color: #18CFAB;
}

.main__our-work__menu li {
    border: 1px solid #DADADA;
    width: 100%;
    padding: 10px 0 10px 0;
}

.main__our-work__content {
    margin: 71px 0 70px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main__creative-design {
    width: 285px;
    height: 206px;
    background: #E9EDEF;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    border-top: 2px solid #18CFAB;
}

.main__creative-design img {
    margin: 48px 0 24px 101px;
}

.main__our-work__content__creative {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14.1771px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
}

.main__our-work__content__web {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 12.1518px;
    line-height: 25px;
    color: #8A8A8A;
}

.main__our-work__content__img:hover .main__creative-design,
.main__our-work__content__img:hover {
    display: block;
}

.main__our-work__content__img {
    box-sizing: border-box;
    display: none;
    position: relative;
}

.main__our-work__content__img img {
    display: block;
}
.show{
    display: block;
}

.main__btn__load-more {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0 10px 0;
    width: 168px;
    background: #18CFAB;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer;
}

.main__news {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.main__news li {
    margin: 0 24px 46px 0;
    position: relative;
    background: #F8FCFE;
    border: 1px solid #F2F4F5
}

.main__news__date {
    padding: 10px 21px 10px 20px;
    background: #203E38;
    position: absolute;
    left: 192px;
    top: 0;
}

.main__news__date p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

.main__news__cont__text1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 17.9885px;
    line-height: 39px;
    color: #717171;
    padding-right: 30px;
}

.main__news__cont__text2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    color: #777777;
    padding-right: 45px;
}

.item:hover .main__news__date {
    background: #18CFAB;
}

.item:hover .main__news__cont__text1 {
    color: #18CFAB;
}

.main__people-say {
    background: url("../img/Layer333.png") no-repeat;
    background-size: cover;
    padding-bottom: 98px;
    margin-top: 82px;
}
.say{
    color: #FFFFFF;
}
.say::before{
    left: 45%;
}

.main__people-say__img {
    margin: 66px 0 36px 0;
}

.big-slider__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #BBBBBB;
    margin-bottom: 37px;
}

.big-slider__name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
}

.big-slider__profession {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 27px;
    text-align: center;
    color: #BBBBBB;
    margin-bottom: 38px;
}

.big-slider__img {
    width: 166px;
    height: 166px;
    border-radius: 50%;
    border: 10px solid rgba(31, 218, 181, 0.2);
}

.small-slider {
    position: relative;
    width: 400px;
    margin: 44px auto;
    padding: 0 20px;
}

.small-slider__item img {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    border: 5px solid rgba(31, 218, 181, 0.2);
    min-width: 0;
}

.small-slider__item.slick-center {
    transform: translateY(-20px);
    transition: all 0.5s;
}

.small-slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -5px 0 0 0;
    font-size: 0;
    height: 31px;
    width: 31px;
    z-index: 10;
}

.small-slider .slick-arrow.slick-prev:hover,
.small-slider .slick-arrow.slick-next:hover {
    background-color: #18CFAB;
}

.small-slider .slick-arrow.slick-prev {
    left: -30px;
    background: url("../img/3994376_arrow_back_left_navigation_previous_icon.png") 45% 45% / 50% no-repeat;
    border: 1px solid rgba(255, 255, 255);
}

.small-slider .slick-arrow.slick-next {
    right: -10px;
    background: url("../img/3994400_arrow_forward_navigation_next_right_icon.png") 45% 45% / 50% no-repeat;
    border: 1px solid rgba(255, 255, 255);
}

.slick-list {
    overflow: hidden;
}

.small-slider .slick-slide {
    height: 80px;
    display: flex;
    align-items: flex-end;
}

.slick-track {
    display: flex;
    align-items: flex-end;
}

/*Masonry*/
.grid__items {
    margin-bottom: 20px;
    display: flex;
}

.grid__items:nth-child(3) {
    width: 367px;
    height: 453px;
}

.small-grid {
    display: flex;
    flex-wrap: wrap;
}

.small-grid__item {
    margin: 0 3px 0 0;
    position: relative;
}

.footer {
    margin-top: 80px;
    padding-bottom: 47px;
    background-color: #22353F;;
}

.footer__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    padding-top: 48px;
    color: #AEAEAE;
}

.footer__text span {
    color: #18CFAB;
}